body {
    font-family: 'Open Sans', sans-serif;
    margin: 0em;
}

#left {
    width: 34%;
    border: solid blue;
    float: left;
}

#hi {
    font-size: 70px;
    text-align: center;
    line-height: 0px;
}

#skill {
    font-size: 30px;
    text-align: center;
    line-height: 31px;
}

#right {
    width: 65%;
    border: solid red;
    float: right;
}

#navbar {
    height: 5em;
}


    #navbar li {
        display: inline;
    }

.headshot {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

