body {
    font-family: 'Open Sans', sans-serif;
    margin: 0em;
}

#left {
    width: 34%;
    height: 90vh;
    border: solid blue;
    float: left;
}

#hi {
    font-size: 70px;
    text-align: center;
    line-height: 0px;
}

#skill {
    font-size: 30px;
    text-align: center;
    line-height: 31px;
}

#right {
    width: 65%;
    height: 90vh;
    border: solid red;
    float: right;
}

#navbar {
    height: 5vh;
}

    #navbar li {
        display: inline;
    }

.headshot {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

.column {
    float: left;
    width: 33%;
    padding: 0px;
}

    .column img {
        margin-top: 0px;
        width: 100%;
    }

.row:after {
    content: "";
    display: table;
    clear: both;
}
